body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/latteart.jpeg);
    background-position: 60%;
    background-repeat:initial;
}
header {
    display: flex;
    justify-content: space-evenly;  
}
header img {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    height: 100%;
    align-self: flex-start;
}
main {
    color: #000000;
    margin: 1%;
    background-color: rgb(206, 181, 148);
    padding: 1rem;
}
nav{
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    font-size: 1rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 100%;
}
nav>a{
    text-decoration: none;
    margin: 1rem 1rem;
}
nav>a:hover{
    color: rgb(206, 181, 148);
    text-decoration: underline;
}
a{
    color: inherit;
}
h2,h3{
    text-align: center;
}
.gallery{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery img{
    padding: .5rem 0;
    width: 50%;
    height: 100%;
}
form{
    background-color: #a68b739d;
    padding: 1rem;
}
label, input[type=text], [type=email], textarea{
    display: block;
    margin: .5rem 0;
}
input[type=text], [type=email], textarea{
    width: 95%;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid transparent;
}
textarea{
    height: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b132b;
}
input:focus[type=text], input:focus[type=email], textarea:focus{
    outline: none;
    border: 1px solid #00e3c8;
}
footer{
    background-color: #a68b739d;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media(min-width: 1000px) {
    header nav{
        position: static;
        background-color: unset;
        width: unset;
    }
    header nav a{
        border: none;
        padding: 2rem;
        display: inline-block;
    }
    form{
        max-width: 500px;
        margin: 1rem auto;
    }
    .gallery{
        max-width: 700px;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid transparent;
        align-items: center;
    }
    .gallery img{
        align-items: center;
    }
}